@import url("../../Styles/button.css");

.CircularButton {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
  background: none;
  color: var(--blackTernary);
  background-color: var(--background);
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
}

.CircularButton:hover {
  background-color: var(--accentColor);
  color: var(--background);
}
