.ExplicitArea {
  overflow-x: hidden;
  overflow-y: auto;
  height: 82vh;
}

.PlaylistsPage {
  padding: 1rem 2rem;
}

h1 {
  font-size: 2rem;
}

.PlaylistsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  grid-gap: 1rem;
}

.PlaylistCreationOverlay {
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
}

.Grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.thumbnail {
  width: 40vh;
  height: 40vh;
  object-fit: cover;
  box-shadow: 0px 0px 10px var(--black);
}

input {
  width: 50%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blackSecondary);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}

::-webkit-scrollbar-corner {
  background-color: var(--black);
}
