.PlaylistsPage {
  padding: 1rem 2rem;
}

h1 {
  font-size: 2rem;
}

.PlaylistsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(232px, 1fr));
  grid-gap: 1rem;
}

.PlaylistCreationOverlay {
  height: 100%;
  width: 100%;
  padding: 1rem 2rem;
}

.Grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input {
  width: 50%;
}
