.CurrentlyPlayingInfo {
  display: flex;
  flex-direction: row;
  height: 15vh;
}

.VolumeControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 15vh;
  width: 100%;
}

.VolumeControlsVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.VolumeSlider {
  margin: auto 1rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.CurrentlyPlayingInfo div {
  margin: auto 1rem;
}

.CurrentlyPlayingInfo img {
  padding: 0.5rem;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.AlbumArt {
  width: 15vh;
  height: 15vh;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
}
