@import url("./root.css");

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Roboto", monospace;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

div#root {
  min-height: 100vh;
}

hr {
  border: solid 1px var(--whiteLight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", monospace;
}

* {
  outline: none;
}

img {
  object-fit: cover;
}
