.PlaylistPage {
  height: 80vh;
}

.PlaylistHeader {
  padding: 2rem 3rem;
  display: grid;
  grid-template:
    "i c c c c c c c c c c"
    "i x x x x x x x x x x"
    "i t t t t t t t t t t";
  height: 40vh;
  background: var(--purple-100);
  margin-bottom: 2rem;
  overflow: auto;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.PlaylistHeader img {
  grid-area: i;
  height: 40vh;
  width: 40vh;
  object-fit: cover;
}

.PlaylistHeader h1 {
  grid-area: c;
  font-size: 500%;
  margin: 0.1rem 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.PlaylistHeader p {
  grid-area: x;
  margin: 0 0.5rem;
  margin-bottom: 1rem;
}

.PlaylistButtons {
  grid-area: t;
  margin: 0 0.5rem;
}

.PlayButton {
  border-radius: 50%;
  width: 3.9rem;
  height: 3.9rem;
  background: none;
  background-color: var(--green);
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  box-shadow: 0 0 5px var(--black);
}

.PlayButton:hover {
  color: var(--green);
}

.ShareButton {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: none;
  background-color: var(--purple);
  color: var(--foreground);
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  margin-left: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ShareButton:hover {
  color: var(--purple);
  background-color: var(--background);
}

.Thumbnail {
  box-shadow: 0px 0px 10px var(--black);
}

.PlaylistContent {
  padding: 2rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blackSecondary);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}

.eee {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  border-radius: 50%;
  overflow: visible;
  padding: 12px;
  font-size: 1.75rem;
}

.center {
  text-align: center;
}
